*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
}

.card{
    width: 300px;
    box-shadow: 2px 2px 6px 0px black;
    margin: 1em auto;
}